@import reset
@import main

body
  font-family: 'Work Sans' sans-serif
  font-size: 22px
  line-height: 1.6
  color: $white
  background-color: $black

  @media (max-width: $breakpoint-large)
    font-size: 16px
    line-height: 1.4

.select-display
  padding: '8px'
  border: '1px solid #ccc'
  borderRadius: '4px'
  cursor: 'pointer'

.select-dropdown
  position: 'absolute'
  top: '40px'
  left: '0'
  right: '0'
  padding: '0'
  margin: '0'
  list-style: 'none'
  border: '1px solid #ccc'
  border-radius: '4px'
  background-color: '#fff'
  z-index: '10'

.li
  padding: '8px'
  cursor: 'pointer'
  border-bottom: '1px solid #eee'

.custom-select-container
  position: 'relative'
  width: '200px'
  &::before
    content: ''
    position: absolute
    height: 100vh
    width: 100vw
    background-color: rgba( gray, .5 )
