@import '../../styles/main.sass'

.wrapper
  position: relative

.select
  padding: 16px 22px
  border-radius: 15px
  color: $white
  margin-right: 20px
  box-shadow: inset 0 0 10px 1px rgb(0 0 0 / 20%)
  cursor: pointer
  position: relative
  font-weight: 600
  z-index: 100
  @include flex(null, center)
  @media (max-width: $breakpoint-medium-large)
    margin: 15px 0 30px

  &__icon
    margin-right: 16px
    width: 18px
    height: 18px

  &__value
    font-size: 16px
    text-transform: uppercase
    @media (max-width: $breakpoint-medium-large)
      font-size: 18px

  &__menu
    position: absolute
    top: 60px
    left: -40px
    z-index: 3
    padding: 10px
    border-radius: 20px
    width: calc(100% + 60px)
    background-color: $black
    text-align: center
    box-shadow: inset 0 0 10px 1px rgba(#000, 0.5)
    font-weight: 600
    @media (max-width: $breakpoint-medium-large)
      left: -50px
      top: 75px
      width: calc(100% + 100px)

  &__item
    padding: 8px 16px
    border-radius: 10px
    font-size: 18px
    cursor: pointer
    transition: $transition

    &:hover
      background-color: $gray
